apiVersion: apps/v1
kind: Deployment
metadata:
  name: chat-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: chat-app
  template:
    metadata:
      labels:
        app: chat-app
    spec:
      containers:
      - name: chat-app
        image: yussufzoulfakar/chatingapp:1.0
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: chat-app-config
